<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Itinerary</a></li>
  <li role="presentation" class=""><a href="#">Packing List</a></li>
  <li role="presentation" class=""><a href="#">Expenses</a></li>
  <li role="presentation" class=""><a href="#">Other Notes</a></li>
</ul>
