<div class="title-div">
  <h2 class="text-title">Trip Details</h2><br>
</div>

<div class="div_bg detail_div">
  <div class="">
    <ul class="nav nav-tabs">
      <li role="presentation" class=""><a href="#">Itinerary</a></li>
      <li role="presentation" class=""><a href="#">Packing List</a></li>
      <li role="presentation" class="active"><a href="#">Expenses</a></li>
      <li role="presentation" class=""><a href="#">Other Notes</a></li>
    </ul>
  </div>

  <div class="">
    <div class="">
      <%= render partial: "events/details" %>
    </div>

    <div  class="">
      <%= render partial: "packinglists/show" %>
    </div>

    <div  class="">
      <%= render partial: "expenses/show" %>
    </div>
  </div>

</div>
