.event_list {
  list-style-type: none;
  padding: 3px;
}

#map {
  position: absolute;
  float:right;
  width:40%;
  height: 300px;
  right: 10%;
  top: 40%;
}

.new_event_div {
  width: 600px;
  float: left;
}

.weather_div {
  float: right;
}
