nav {
  font-family: 'Special Elite', serif;
}

a {
  color: white;
  text-decoration: none;
}

.nav-logo {
  margin-left: 25px;
}

.form-text {
  font-size: 5em;
}

#logout {
     background:none!important;
     border:none;
     padding:0!important;
     font: inherit;
     margin-right: 25px;
}

.text-title {
  font-family: 'Glegoo', serif;
  color: white;
}

.profile-info {
  margin-top: 3px;
  margin-bottom: 3px;
}

.event-info {
  margin-top: 3px;
  margin-bottom: 3px;
}

.title-div {
  margin-left: 25px;
}

.profile-content {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

.event-content {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

#map {
  position: absolute;
  float:right;
  width:40%;
  height: 300px;
  right: 10%;
  top: 40%;
}

#logout {
  padding-bottom: 0px;
  padding-top: 0px;
}

.div_bg {
  background-color: black;
  opacity: 0.90;
  padding-bottom: 25px;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   padding-bottom: 20px;
}

label {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  margin: 20px;
}

.detail_div {
  margin-bottom: 40px;
}
